.table-error{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  margin:4rem auto;
  // background-color: aqua;
  width:50%;
  p{
    color:#707070;
  }
}
.table-wrapper{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  box-sizing: border-box;
  // background-color: antiquewhite; 
}
table{
    width:80%;
    margin: 0 auto;
    justify-content: space-evenly;
    text-align: left;
    align-items: left;
    table-layout: fixed;
    color: #707070;
    
}

th{
    border-left: none;
    border-right: none;
    min-height:5rem;
    width:9rem;
    color: #707070;
    font-size: 0.8rem;
    text-align: left;
    padding-bottom: 0.3rem;
    .head{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 5rem
    }

    
    
  }
  

  td{
    
    /* background-color: aquamarine; */
    border: 1px solid #70707038;
    border-top: 1px solid #70707038;
    border-left: none;
    border-right: none;
    align-items: right;
    text-align: left;
    height:2.5rem;
    padding-right: 1rem;
  }